<ul class="sg-colors">
		<li>
		<span class="sg-swatch bkg-brand-blue"></span>
		<span class="sg-label">
			$brand-blue <br />
			.bkg-brand-blue <br />
			.color-brand-blue <br />
			#315172
		</span>
	</li>
	<li>
		<span class="sg-swatch bkg-brand-blue-dark"></span>
		<span class="sg-label">
			$brand-blue-dark <br />
			.bkg-brand-blue-dark <br />
			.color-brand-blue-dark <br />
			#080F13
		</span>
	</li>
	<li>
		<span class="sg-swatch bkg-brand-blue-light"></span>
		<span class="sg-label">
			$brand-blue-light <br />
			.bkg-brand-blue-light <br />
			.color-brand-blue-light <br />
			#9AB6BE
		</span>
	</li>

	<li>
		<span class="sg-swatch bkg-brand-orange"></span>
		<span class="sg-label">
			$brand-orange <br />
			.bkg-brand-orange <br />
			.color-brand-orange <br />
			#EE6F1B
		</span>
	</li>
</ul>
