<ul class="sg-colors">
		<li>
		<span class="sg-swatch bg-primary"></span>
		<span class="sg-label">
			$blue <br />
			.bg-primary <br />
			.text-primary <br />
			#315172
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-secondary"></span>
		<span class="sg-label">
			$orange <br />
			.bg-info <br />
			.text-info <br />
			#EE6F1B
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-info"></span>
		<span class="sg-label">
			$light-blue <br />
			.bg-secondary <br />
			.text-secondary <br />
			#9AB6BE
		</span>
	</li>

	<li>
		<span class="sg-swatch bg-dark"></span>
		<span class="sg-label">
			$dark-blue <br />
			.bg-dark <br />
			.text-dark <br />
			#080F13
		</span>
	</li>
</ul>
