<ul class="sg-colors">
		<li>
		<span class="sg-swatch bg-success"></span>
		<span class="sg-label">
			$brand-blue <br />
			.bg-success <br />
			.text-success <br />
			#09a623
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-warning"></span>
		<span class="sg-label">
			$yellow <br />
			.bg-warning <br />
			.text-warning <br />
			#ecc023
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-danger"></span>
		<span class="sg-label">
			$red <br />
			.bg-danger <br />
			.text-danger <br />
			#ff2a16
		</span>
	</li>

</ul>
