<div class="">Primary font: "Roboto", "Helvetica", "Arial", sans-serif;</div>
<div class=""><em>Primary font italic: "Roboto", "Helvetica", "Arial", sans-serif;</em></div>
<div class=""><strong>Primary font bold: "Roboto", "Helvetica", "Arial", sans-serif;</strong></div>
<div class="text-monospace">Secondary font: "Play", "Helvetica", "Arial", sans-serif;</div>
<div class="text-monospace"><em>Secondary font italic: Play, "Helvetica", "Arial", sans-serif;</em></div>
<div class="text-monospace"><strong>Secondary font bold; Play, "Helvetica", "Arial", sans-serif;</strong></div>
