/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button
 */
.btn{
	font-family: $font-family-secondary;
	text-transform: uppercase;
	font-weight: bold;
	font-size: $font-size-sm;
	padding: 5px 40px;
}

.btn-link-primary{
	color: $gray-700;
	@include float-left;
	padding: 0px;
	&:hover:enabled{
		color: $orange;
		background-color: transparent;
	}
	&.disabled{
		color: $gray-700;
		opacity: 1;
	}
}
.btn-cta{
	position: relative;
	&:before{
		content: "";
	    position: absolute;
	    border: 2px $orange solid;
	    left: -5%;
	    width: 110%;
	    height: 144%;
	    border-radius: 4px;
	    top: -20%;
	}
	// outline: 4px solid red;
 //    outline-offset: 15px;
}
