/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button
 */
.btn{
	font-family: $font-family-secondary;
	text-transform: uppercase;
	font-weight: bold;
	font-size: $font-size-sm;
	padding: 5px 40px;
	&:hover{
		background-color: lighten($orange, 10%)
	}
}
.btn-secondary.disabled, .btn-secondary:disabled{
	background-color:$gray-700;
	border-color: $gray-700;
	opacity: 1;
}
.btn-link-primary{
	color: $gray-700;
	&:hover{
		color: $orange;
		background-color: transparent;
	}
}
.btn-link:disabled{
	
}