/*------------------------------------*\
    #FORMS
\*------------------------------------*/

select.form-control, select.form-control:focus{
	border: thin $orange solid;
    background: transparent;
    color: $orange;
    border-radius: 4px;
    padding: .25em;
    height: auto;
}
label.custom-radio{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
		&:checked ~ .radio-sticker {
  			background-color: $orange;
		}

	}
	input:disabled ~ .radio-sticker {
		border: 2px solid $gray-700;
	}

	.radio-sticker{
		position: absolute;
	  	top: 0;
	  	left: 0;
	  	height: 15px;
	  	width: 15px;
	  	background-color: transparent;
	  	border: 2px solid $orange;
	  	border-radius: 100%;
	}
}

label.custom-checkbox{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
		&:checked ~ .checkbox-sticker {
  			background-color: $orange;
		}

	}
	input:disabled ~ .checkbox-sticker {
		border: 2px solid $gray-700;
	}

	.checkbox-sticker{
		position: absolute;
	  	top: 0;
	  	left: 0;
	  	height: 15px;
	  	width: 15px;
	  	background-color: transparent;
	  	border: 2px solid $orange;
	  	border-radius: 3px;
	}

	/* Show the checkmark when checked */
	input:checked ~ .checkbox-sticker:after {
	  display: block;
	}

	/* Style the checkmark/indicator */
	.checkbox-sticker:after {
		content: "";
	  position: absolute;
	  display: none;
	  left: 3px;
	  top: 0px;
	  width: 6px;
	  height: 10px;
	  border: solid $black;
	  border-width: 0 3px 3px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}
}