<label class="custom-radio">
	<input type="radio" checked="checked" />
	<span class="radio-sticker"></span>
</label>
<br/><br/>
<label class="custom-radio">
	<input type="radio" />
	<span class="radio-sticker"></span>
</label>
<br/>
<label class="custom-radio">
	<input type="radio" disabled/>
	<span class="radio-sticker"></span>
</label>
