<label class="custom-checkbox">
	<input type="checkbox" checked="checked" />
	<span class="checkbox-sticker"></span>
</label>
<br/><br/>
<label class="custom-checkbox">
	<input type="checkbox" />
	<span class="checkbox-sticker"></span>
</label>
<br/>
<label class="custom-checkbox">
	<input type="checkbox" disabled/>
	<span class="checkbox-sticker"></span>
</label>
